@{
    ViewData["Title"] = "Ejercicio 3.2: Creación de imagen personalizada.";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
