@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Universidad de Jaén<br />
    Campus de las Lagunillas<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jmco0001@red.ujaen.es">jmco0001@red.ujaen.es</a><br />
</address>
